# ============ Unity ============
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/MemoryCaptures/
/[Rr]ecordings/

# 构建产物
*.apk
*.aab
*.ipa
*.unitypackage
*.symbol.zip
/Build/
/Builds/

# Unity 资源
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.mdb
*.opendb
*.VC.db
*.VS

# IDE
.vs/
.vscode/
.idea/
*.DotSettings.user

# OS
.DS_Store
Thumbs.db

# 加密
*.bin
*.keystore
!debug.keystore

# ============ 旧 Godot ============
*.import
.godot/
